:root {
	--main-bgd-color: #E5E5E5;
	--accent: #2196F3;
	--main-text-color: #757575;
	--title-color: #212121;
	--white: #fff;
	--black: #000;
	--bgd-accent: #2F303A;
	--bgd-accent-team: #F5F4FA;
	--icons-fill: #AFB1B8;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	vertical-align: top;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: var(--main-text-color);
	background-color: var(--white);
	letter-spacing: 0.03em;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.hidden-title {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section {
	padding: 94px 0;
}

.header {
	border-bottom: 1px solid #ECECEC;
	padding: 24px 0;
}

.header-row {
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: var(--black);
	text-decoration: none;
}

.logo span {
	color: var(--accent);
}

.menu {
	list-style-type: none;
	display: flex;
	align-items: center;
	column-gap: 50px;
	margin: 0 0 0 93px;
}

.menu-item a {
	display: block;
	color: var(--title-color);
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page a {
	position: relative;
	color: var(--accent);
}

.active-page a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -33px;
	width: 100%;
	height: 4px;
	background-color: var(--accent);
	border-radius: 2px;
}

.contacts {
	list-style-type: none;
	display: flex;
	align-items: center;
	column-gap: 50px;
}

.contacts-item a {
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: inherit;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item a:hover,
.menu-item a:focus,
.contacts-item a:hover,
.contacts-item a:focus {
	color: var(--accent);
}

.contacts-icon {
	fill: var(--main-text-color);
	vertical-align: bottom;
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.contacts-item a:hover .contacts-icon,
.contacts-item a:focus .contacts-icon {
	fill: var(--accent);
}

.banner {
	background-color: var(--bgd-accent);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 1600px;
	padding: 200px 0;
	text-align: center;
	margin: 0 auto;
}

.banner-title {
	color: var(--white);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.3;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	width: 696px;
	margin: 0 auto;
}

.banner-btn {
	color: var(--white);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	background-color: var(--accent);
	cursor: pointer;
	border: none;
	box-shadow: 0px 4px 4px #00000026;
	border-radius: 4px;
	padding: 10px 32px;
	margin: 30px 0 0;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-btn:hover {
	box-shadow: 0px 4px 4px #00000026, inset 1px 1px 15px var(--white), inset -1px -1px 15px var(--white);
}

.backdrop-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
	pointer-events: none;
	opacity: 0;
	visibility: visible;
}

.backdrop-modal.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.2);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 528px;
	height: 581px;
	padding: 8px;
	background-color: var(--white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
	position: relative;
}

.modal-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background-color: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
	vertical-align: middle;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
	border: 1px solid rgba(255, 0, 0, 0.4);
}

.our-values-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}

.our-values-list-item {
	width: 270px;
}

.our-values-list-item:last-child {
	margin-right: 0;
}

.our-values-list-img {
	background-color: var(--bgd-accent-team);
	border-radius: 4px;
	text-align: center;
	padding: 25px 0;
}

.our-values-list-icon {
	width: 70px;
	height: 70px;
}

.our-values-list-content {
	margin: 30px 0 0;
}

.our-values-list-item-title {
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
	color: var(--title-color);
}

.our-values-list-item-text {
	line-height: 1.7;
	margin: 10px 0 0;
}

.work {
	text-align: center;
	padding-top: 0;
}

.section-title {
	font-size: 36px;
	line-height: 1.2;
	color: var(--title-color);
}

.work-list {
	list-style-type: none;
	margin: 50px 0 0;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}

.work-list-item {
	position: relative;
}

.work-list-item-title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 27px 0;
	background: rgba(47, 48, 58, 0.8);
	text-transform: uppercase;
	color: var(--white);
	line-height: 1.1;
}

.team {
	background-color: var(--bgd-accent-team);
	text-align: center;
}

.team-list {
	margin: 50px 0 0;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}

.team-list {
	list-style-type: none;
}

.team-list-item {
	width: 270px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--white);
}

.team-list-item-description {
	padding: 30px 32px;
}

.team-list-item-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
	color: var(--title-color);
}

.team-list-item-text {
	font-size: 16px;
	line-height: 1.2;
	margin: 10px 0 0;
}

.team-social-icons {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 16px 0 0;
}

.team-social-icons-item {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icons-item a {
	display: block;
	padding: 12px;
}

.team-social-icons-item:hover,
.team-social-icons-item:focus {
	background-color: var(--accent);
}

.team-social-icon {
	width: 20px;
	height: 20px;
	fill: var(--icons-fill);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icons-item:hover .team-social-icon,
.team-social-icons-item:focus .team-social-icon {
	fill: var(--white);
}

.customers {
	text-align: center;
}

.customers-list {
	margin: 50px 0 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.customers-list-item {
	border: 1px solid var(--icons-fill);
	border-radius: 4px;
	width: 170px;
	height: 92px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item a {
	display: block;
	padding: 16px 32px;
}

.customers-list-item:hover,
.customers-list-item:focus {
	border: 1px solid var(--accent);
}

.customer-icon {
	height: 60px;
	width: 106px;
	fill: var(--icons-fill);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:hover .customer-icon,
.customers-list-item:focus .customer-icon {
	fill: var(--accent);
}

.footer {
	background-color: var(--bgd-accent);
	padding: 60px 0;
}

.footer-content {
	display: flex;
}

.logo-footer {
	color: var(--white);
}

.footer-contacts {
	margin: 20px 0 0;
}

.footer-contacts-list {
	list-style-type: none;
}

.footer-contacts-list-item {
	margin: 9px 0 0;
}

.footer-contacts-list-item:first-child {
	margin-top: 0;
}

.footer-contacts-list-item a {
	line-height: 1.7;
	text-decoration: none;
	font-style: normal;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-list-item:first-child a {
	color: var(--white);
}

.footer-contacts-list-item a:hover,
.footer-contacts-list-item a:focus {
	color: var(--accent);
}

.footer-contacts-list-item:first-child a:hover,
.footer-contacts-list-item:first-child a:focus {
	color: var(--white);
}

.join-us {
	margin: 12px 0 0 70px;
}

.join-us-title {
	line-height: 1.2;
	color: var(--white);
	text-transform: uppercase;
	font-size: 14px;
}

.footer-social-icons-list {
	list-style-type: none;
	margin: 20px 0 0;
	display: flex;
}

.footer-social-icons-list-item {
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	margin: 0 10px 0 0;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-list-item a {
	display: block;
	padding: 12px;
}

.footer-social-icons-list-item:last-child {
	margin-right: 0;
}

.footer-social-icons-list-item:hover,
.footer-social-icons-list-item:focus {
	background-color: var(--accent);
}

.footer-social-icon {
	width: 20px;
	height: 20px;
	fill: var(--white);
}

/* Portfolio */

.portfolio-buttons-list {
	list-style-type: none;
	display: flex;
	justify-content: center;
	column-gap: 8px;
}

.portfolio-buttons-list-item-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	color: var(--title-color);
	background-color: var(--bgd-accent-team);
	cursor: pointer;
	padding: 6px 22px;
	border-radius: 4px;
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons-list-item button:hover,
.portfolio-buttons-list-item button:active {
	background-color: var(--accent);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--white);
}

.portfolio-active-btn {
	background-color: var(--accent);
	color: var(--white);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards-list {
	list-style-type: none;
	margin: 50px 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-cards-list-item {
	width: 370px;
	background: var(--white);
	cursor: pointer;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-thumb {
	position: relative;
	overflow: hidden;
}

.portfolio-card-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 63px 24px;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-text {
	font-size: 18px;
	line-height: 1.5;
	color: var(--white);
}

.portfolio-cards-list-item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards-list-item:hover .portfolio-card-overlay {
	transform: translateY(0%);
}

.portfolio-cards-list-item-description {
	border: 1px solid #EEEEEE;
	border-top: none;
	padding: 20px 24px;
}

.portfolio-cards-list-item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-color);
}

.portfolio-cards-list-item-text {
	font-size: 16px;
	line-height: 1.9;
}